*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
background-image: url('../img/corkboard.jpg');
margin: 0;
font-size: 3em;
}

/*.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}*/

.img-centered {
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.polaroid, .polaroid2 {
  position: relative;
  margin: 50px auto;
  float: left;
  /*width: 945px;
  height: 1024px;*/
}

.polaroid-container {
  position: relative;
}

.polaroid:after, .polaroid2:after {
  content: "";
  height: 640px;
  width: 640px;
  position: absolute;
  top: 115px;
  left: 130px;
}

.polaroid:before, .polaroid2:before {
  content: "";
  height: 75px;
  width: 75px;
  position: absolute;
  top: 35px;
  left: 400px;
  background-image: url('../img/pin.png');
  background-size: cover;
  background-position: center;
}

.polaroid:after {
  background-image: url('../img/cat.jpg');
}

.polaroid2:after {
  background-image: url('../img/gorilla.jpg');
}

.polaroid-container:after {
  content: "gorillaaaaaa!!!";
  height: 20px;
  /*width: 640px;*/
  position: absolute;
  top: 860px;
  left: 340px;
}
